@media all and (min-width: 480px) {
  .Configure {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 200px;
  }
}
.Configure .LoaderButton:last-child {
  margin-top: 15px;
}
input {
  width:50px;
}