
.Home .lander {
  padding: 10px 0;
  text-align: center;
  margin:auto;
  width:70%;
}

/* .promo {
  margin:10px;
  text-align:left;
} */
.promo table {
width:10%;
border:"";
}
.promo .row {
  text-align:center;
}

.Home .lander table {
  text-align:left;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .promo .footer {
  text-align:center;
}

.Home .lander p {
  color: darkgreen;
}

.Home .notes h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Home .notes p {
  color: #666;
}

.Home .lander div {
  padding-top: 0px;
  /* text-align:left; */
}

/* .Home .Form {
  text-align:left;
} */

.Home .lander div a:first-child {
  margin-right: 20px;
}
.orderForm {
  padding-top:20px;
}

.orderForm input {
  padding-top:20px;
}

.orderForm Select{
  padding-top:20px;
}

.Form button {
  padding-top:20px;
  margin:auto;
}
ul {
  list-style:none;
  font-size:20px;
  color:darkgreen;
}
td {
  font-size:14px;
}