/* Styles go here */

thead {color:darkgreen;}
tbody {color:darkgreen;}
tfoot {color:red;}
button {
  /* width:30px;
  height:20px; 
  margin:100px;*/
}

table {
  margin:auto;
  text-align:'left';
  /* border: 1px solid black; */
}
/* td, th{
  padding: 25px;
  font-size:20px;
} */
th {
  text-align:center;
}
thead {
  border-bottom:1px;
}